@model PostOffice.API.DTOs.User.UserChangePasswordDTO

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                           

                            <h3 class="profile-username text-center">Change Password</h3>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="container rounded bg-white mt-5 mb-5">
                            <div class="row">
                                <div class="col-md-3 border-right">
                                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">

                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <form asp-action="ChangePassword" asp-controller="Profile">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="OldPassword" class="control-label"></label>
                                                <input asp-for="OldPassword" class="form-control" />
                                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NewPassword" class="control-label"></label>
                                                <input asp-for="NewPassword" class="form-control" />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                                                <input asp-for="ConfirmNewPassword" class="form-control" />
                                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 border-right">
                                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                        <span class="font-weight-bold">
                                            @TempData["result_change_pass"]
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>