@{
    ViewData["Title"] = "Home Page";
    
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
	<div class="wrapper">
		<div class="container">
			<div>
				<h1>Welcome Back</h1>
					</div>
		
		</div>

		<!-- /.content -->
</div>
<!-- /.content-wrapper -->
