@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>About</h2>
                        <p>
                            We are dedicated to delivering your items with speed, accuracy, and the utmost care, whether they are bound for nearby neighborhoods or international destinations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            <div class="col-lg-6 content order-last  order-lg-first">
                <h3>About Us</h3>
                <p>
                    TARS Delivery is a post office that provides mail services, such as accepting letters and parcels, providing post office boxes, and selling postage stamps, packaging, and stationery 1. Our mission is to provide you with the best possible service at an affordable price.

                    We understand that your time is valuable, which is why we offer a range of services to make your life easier. Our friendly staff are always on hand to help you with any questions or concerns you may have. We also offer a range of online services, including package tracking and online postage purchasing, so you can manage your mail from the comfort of your own home 1.

                    At TARS Delivery, we believe in putting our customers first. That’s why we offer a range of flexible delivery options to suit your needs. Whether you need your package delivered urgently or at a specific time, we’ve got you covered 1.

                    We also understand the importance of sustainability and are committed to reducing our carbon footprint. That’s why we use eco-friendly packaging materials and have implemented energy-efficient practices throughout our operations 1 Corrupti totam ut eius incidunt reiciendis veritatis asperiores placeat.
                </p>
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-diagram-3"></i>
                        <div>
                            <h5>Best Staff</h5>
                            <p>We are responsible for all the task and customers'needs</p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-fullscreen-exit"></i>
                        <div>
                            <h5>Attitude is the first</h5>
                            <p>We respect all customers even who you are</p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-broadcast"></i>
                        <div>
                            <h5>Movitation</h5>
                            <p>We always serves our customer as a king and queen</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
</main>
