@model IEnumerable<PostOffice.API.DTOs.ParcelService.ParcelServiceBaseDTO>
<datalist id="datalistOptionsService">
    @foreach (var item in Model)
    {
        <option value="@item.service_id">@item.name</option>
    }
</datalist>

